body{
    padding: 32px;
    justify-content: center;
    display: flex;
}

.panel{
    border: 2px solid pink;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 768px;
    width: 768px;
}

.panel > .gridbox {
    border: solid 1px lightslategray;
    -webkit-user-drag: none;
    -webkit-user-select: none;

}

.slider:hover {
    opacity: 1;
}
